@charset "utf-8";

/* HACKS */

/* CSS Document */
html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, form, fieldset, pre{margin:0; padding:0; border:0; font-family:Arial, Helvetica, sans-serif;}
a img, img{border:none;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* End hide from IE-mac */
/*------------------------------------------------------------------ */

/* GENERAL */

.left
{
float:left;
}

.right
{
float:right;
}

.alignright
{
	
	margin-left:15px;
	float:right;
}

.alignleft
{
	margin-right:15px;
	float:left;
}

.alignmid
{
	border:5px solid #cccccc;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}

.alignmiddle
{
	border:3px double #cccccc;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}

img.aligncenter {
	padding: 5px 10px 10px 5px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
}

img.alignleft {
	padding: 5px 10px 10px 5px;
}

ul {
	margin:0px;
	padding:0px;
}

.clear
{
clear:both;
}

@font-face {
    font-family: "AdelleBasic_B";
    font-style: normal;
    font-weight:lighter;
    src:url("AdelleBasic_Bold.otf");
}

@font-face {
    font-family: "AdelleBasic_BI";
    font-style: normal;
    font-weight: normal;
    src:url("AdelleBasic_BoldItalic.otf");
}

@font-face {
    font-family: "Century_Gothic";
    font-style:normal;
    src:url("../century_gothic.ttf");
    
}

@font-face {
    font-family: "Century_Gothic_B";
    font-style:normal;
    src:url("../century_gothic_bold.ttf");
    
}

@font-face {
    font-family: "Myriad_Pro_R";
    font-style:normal;
    src:url("../myriad_pro_reg.ttf");
	
}

@font-face {
    font-family: "Myriad_Pro_CB";
    font-style:normal;
    src:url("../myriad_pro_cond_bold.ttf");
	
}

body{
	background-image:url(../images/bg_body.jpg);
	background-repeat:repeat;	
	width:100%;
	margin:0 auto;
}

#main_wrapper{
	width:100%;
	margin:0 auto;
}

.main_wrap{
	width:1000px;
	margin:0 auto;
}

#header{
	
}

#logo{
	margin-top:25px;
	width:315px;
	height:64px;
	float:left;
}

#fb_top{
	width:100px;
	margin-top:50px;
	float:left;
}

#header_right{
	margin-top:15px;
	float: right;
    width: 400px;
}

#top_items_n_check_out{
	width:240px;
	height:30px;
	padding:5px 0 0 10px;
	background-image:url(../images/top_items_n_check_out.png);
	background-repeat:repeat-x;
	float:right;
	-moz-box-shadow:     0 0 5px #000000;
    -webkit-box-shadow:  0 0 5px #000000;
    box-shadow:          0 0 5px #000000;
	zoom: 1;
      filter:
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=1);
	
}

#top_items_n_check_out ul{
float:left;
width:200px;
padding:2px 5px 0 0;
}

#top_items_n_check_out ul li {
	display:inline;
	padding-right:5px;
	

}


#mytrolly{
float:left;	
padding:2px 5px 0 0 ;
}



#top_items_n_check_out ul li a {
	text-decoration:none;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	font-family: "AdelleBasic_B";
}

.c_db6363 {
color:#db6363;
}

.space{
	padding-right:3px;
}

#reg_now{
	float:right;
	padding:10px 20px 0 0;
	font-size:12px;
	color:#333333;
	/*font-weight:bold;*/
	font-family: "Myriad_Pro_R";
}

#reg_now a{
	/*color:#db6363;*/
	color:#333333;
	padding-left:5px;
	text-decoration:none;
}


#search{
	margin-top:13px;
	width:276px;
	height:30px;
	padding:2px 0 0 13px;
	float:right;
	background-image:url(../images/bg_search_1.png);
	background-repeat:no-repeat;
	position: relative;
}

#search input{
	border:none;
	background-color:transparent;
	color:#a5a3a3;
}

#search input#key{
width:230px;
}

#search input#submit{
width:23px;
height:23px;
margin-top:1px;
background-image:url(../images/search_icon.png);
background-repeat:no-repeat;
cursor:pointer;
}

#nav_wrap{
	width:1125px;
	height:100px;
	background-image:url(../images/bg_nav_1.png);
	background-repeat:no-repeat;
	margin:0 auto;

}

#red_bar {
	
	width:100%;
	height:100px;
	background-image:url(../images/red_nav_block.png);
	background-repeat:repeat;	
}

#nav{
	width:1000px;
	height:40px;
	padding-top:25px;
	margin:0 auto;
}


#shop_by ul li a.highlight{
color:#006699;

}

#index_container{
width:100%;
background-color:#f1f1f1;
margin-top:-30px;
-webkit-box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;
-moz-box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;
box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;

	zoom: 1;
      filter:
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=0);
		  
	background-image:url(../images/bottom_shade.png);
	background-repeat:no-repeat;
	background-position:bottom center;
}

#first_portion{
	width:100%;
	background-color:#fff;
	min-height:340px;
	border-bottom:1px dashed #c2c2c2;

}

#shop_by{
	width:180px;
	float:left;
	padding-top:15px;
}
#shop_by h1{
	font-size:14px;
	color:#3399cc;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	border-bottom:1px solid #d5d5d5;
	padding-left:20px;
	
}

#shop_by h1{
	font-size:14px;
	color:#3399cc;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	border-bottom:1px solid #d5d5d5;
	padding-bottom:4px;
	margin-bottom:10px;
	
}

#shop_by h2{
	font-size:14px;
	color:#333333;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	padding-left:20px;
	text-decoration:none;
	
}

#shop_by h2 a{
	font-size:14px;
	color:#333333;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	text-decoration:none;
	
}




#shop_by ul{
	padding-bottom:10px;
	margin-left:20px;
}

#shop_by ul li{
	list-style:none;
	min-height:17px;
	margin-left: 10px;
}

.c_3399cc{
	color:#3399cc;
}


#shop_by ul li a {
    color: #333333;
    font-family: "Century_Gothic";
    font-size: 13px;
    font-weight:500;
    text-decoration: none;
}

#shop_by ul li a:hover{
	color:#3399CC;
	text-decoration:underline;
}




#slider_wrap{
/*width:805px;*/
width:998px;
padding-left:10px;
height:335px;
float:right;
margin-top:-7px;
background-image:url(../images/bg_slider.png);
background-repeat:no-repeat;
background-position:0% 0%;

}

#slider{

	background-color:#fff;

}

#slider img{


margin-top:5px;
}

#slconlinks_wrap {
	position:absolute;
}

#slconlinks_controler {
    margin: 370px 0 0 310px;
    padding: 40px;
    position: absolute;
    z-index: 110;
	width:450px;
}


#slconlinks {
    float:right;
}

#slconlinks a {
	display: block;
	float:left;
	width:30px;
	height:30px;
	padding:20px 0 0 0px;
	text-align:center;
    background-color: transparent;
    background-image: url("../images/slider_non_active.png");
    background-repeat: no-repeat;
    background-size:70%;
    text-decoration: none;
	color:#fff;
	font-size:18px;
	font-weight:normal;
	font-family: "AdelleBasic_B";
}
#slconlinks .activeSlide {
    background-color: transparent;
    background-image: url("../images/slider_active.png");
    background-repeat: no-repeat;
	width:30px;
	height:30px;
	padding:6px 0 0 0px;
	background-size:70%;
   text-align:center;
}

#banner_wrap{
	margin-bottom:18px;
	margin-left:-5px;
	height:54px;
}

#banner{
width:980px;
height:44px;
padding:10px 0 0px 30px;
background-color:#006699;

}



.banner_link a{
	color:#fff;
	font-size:22px;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	text-decoration:none;
	margin-top:10px;
}



#free_shipping{
	float:left;
}
#free_return{
	float:left;
	padding:0 65px;	
}

#customer_suport{
	float:right;
	padding:0 30px 0 0px;
}

.banner_image{
float:left;
padding-right:5px;
}


.banner_link{
float:left;
padding-top:6px;
}



#new_arrival_wap{
margin-left:0px;
height:340px;
margin-bottom:60px;
}




#new_arrival{
width:1010px;
height:305px;
margin-left:20px;
padding-top: 10px;
/*background-color:#3399cc;*/
}

#new_arival_top{
width:100%;
height:30px;
padding-top:12px;
}

#new_product_wrap{
	margin-left:20px;
}

#new_arival_top {
margin-left:20px;
}
#new_arival_top p{
	font-size:21px;
	font-weight:normal;
	font-family: "Century_Gothic";
}



#new_arrival ul li{
float:left;
list-style:none;
min-height: 250px;
width:193px;
}

.c_prev, .c_next{
float:left;
}


#new_arival_nav{
	float:right;
	padding-right:30px;

}

/* CSs for  Carousel  */
.flexiwrap {
  width:980px;
  height:250px;
}

.pager{
	margin:-282px 0 0 860px;

}

.pager ul li{
	width:30px;
	position:absolute;

}

#new_product_wrap ul.pager li.prev {
	width:25px;
	height:25px;
	text-decoration:none;
	position:absolute;

}
#new_product_wrap ul.pager li.next {
	width:25px;
	height:25px;
	text-decoration:none;
	position:absolute;
	margin-left:65px;

}
ul.pager li:nth-child(2) {  
  margin:4px 0 0 30px;
}
.actual, .total, .of{
color:#fff;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.price_tag{
	width:90px;
	height:23px;
	padding-top:3px;
		color:#fff;
	font-size:14px;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	background-color:#cc0000;
	margin:-25px 0 0 90px;
	position:absolute;
	text-align:center;
	
}

.promotion_pics{
	width:1000px;
	height:340px;
	position:absolute;
	z-index:100;
	border-top: 1px dashed #c2c2c2;
	border-bottom: 1px dashed #c2c2c2
}

.promotion_heading h1{
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	padding-top:15px;

}
.promotion_heading{
	width:135px;
	height:95px;
	position:absolute;
	z-index:100;
	margin:-40px 0 0 10px ;
	background-image:url(../images/bg_promotion.png);
	background-repeat:no-repeat;
}

.promotion_wrapr{
	width:1000px;
	height:340px;
	margin-bottom:60px;
}


.promotion_wrapr_spcl{
	width:1000px;
	height:340px;
	margin-bottom:5px;
}


.main_promotion{
	float:left;}
	
.small_promotion{
	float:left;}
	



#sale_wrap{
	margin-left:-15px;
	margin-top:-45px;
	height:120px;
	margin-bottom:50px;
}

#sale{
width:1010px;
padding:0px 0 0 0px;
	

}


.promotion_heading_no_bg{
	width:250px;
	height:95px;
	position:absolute;
	z-index:100;
	margin:-40px 0 0 10px ;

}


.promotion_heading_no_bg h1 {
    color: #006699;
    font-family: "AdelleBasic_B";
    font-size: 14px;
    font-weight: normal;
    padding-top: 13px;
	text-transform:uppercase;
}

.leftsidebar_border{
border-bottom: 1px solid #D5D5D5;
margin-bottom:10px;
}

#clearance_social{
	width:960px;
	height:300px;
	padding:40px 15px 0 15px;
	margin:0 auto;
	background-image: url("../images/top_shade.png");
    background-position: top center;
    background-repeat: no-repeat;
	
	
}

#clearance{
	width:200px;
	height:300px;
	padding-right:10px;
	float:left;
}

#freeshipping{
	width:200px;
	height:300px;
	padding-right:10px;
	float:left;
}

#fblike_box{
	width:260px;
	height:300px;
	padding-right:10px;
	float:left;
}

#subscribe{
	width:270px;
	float:left;
	padding-top:5px;
	padding-bottom:20px;
}

#subscribe p{
	font-family:"Myriad_Pro_R";
	font-size:11px;
	color:#333333;
	line-height:1.5;
	padding-bottom:45px;
}

#subscribe h1{
    font-family: "Century_Gothic";
    font-size: 14px;
    font-weight: bold;
 	color:#333333;
	padding-bottom:20px;
	}


#subscrb input{
	height:30px;
	width:155px;
	padding:0  5px 0  5px;
	border:none;
	float:left;
	background:transparent;
	background-image:url(../images/bg_subcribe.png);
	background-repeat:no-repeat;
	padding-bottom:20px;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	
}
	
#subscrb input:focus{
	background-image:url(../images/bg_subcribe_focus.png);
	background-repeat:no-repeat;
	border:none;
}

#newsltr_submit button{
	background-image:url(../images/submit.png);
	background-repeat:no-repeat;
	border:none;
	height:30px;
	width:75px;
	margin-top:0px;
	float:left;
	cursor:pointer;
	padding-bottom:20px;

}
#index_txt_conent{
	width:960px;
	padding-top:35px;
	margin:0 auto;


}

#index_txt_conent p{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	padding-bottom:20px;
	line-height:1.5;
}

#footer_wrap{
	width:960px;
	padding:40px 20px 0px 20px;
	margin:0 auto;
	background-image: url("../images/top_shade.png");
    background-position: center top;
    background-repeat: no-repeat;
	
}

#footer_wrap h1{
	font-family:"Century_Gothic";
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding-bottom:10px;
}

#footer_wrap ul li{
	list-style:none;
	padding-bottom:10px;
}


#footer_wrap ul li a{
	font-family:"Myriad_Pro_R";
	font-size:11px;
	font-weight:normal;
	color:#333333;
	text-decoration:none;
}


#footer_cus_serv{
	width:200px;
	padding-bottom:50px;
	float:left;
}


#footer_about{
	width:150px;
	padding-bottom:50px;
	float:left;
}

#footer_join_us{
	width:165px;
	padding-bottom:50px;
	float:left;
}

#footer_shop_us{
	width:185px;
	padding-bottom:50px;
	float:left;
}

#footer_payment_method{
	width:260px;
	padding-bottom:50px;
	float:left;
}

.pay_method{
	float:left;
	padding-right:8px;
	
}

.footer_space{
	width:100%;
	padding-bottom:35px;
	float:left;
}


.footer_copyright{
	width:1000px;
	height:35px;
	padding-top:15px;
	border-top:1px dashed #C2C2C2;
	text-align:center;
	color:#666666;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	margin:0 auto;
	
}


#cat_container{
width:100%;
background-color:#fff;
margin-top:-30px;
-webkit-box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;
-moz-box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;
box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;

	zoom: 1;
      filter:
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=0);
		 
}

#cat_first_portion{
	width:100%;
	background-color:#fff;
	min-height:435px;

}



#single_container{
width:100%;
background-color:#fff;
margin: 0 auto;
margin-top:-30px;
-webkit-box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;
-moz-box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;
box-shadow: 4px 0 2px -1px #cccccc,  -4px 0 2px -1px #cccccc;

	zoom: 1;
      filter:
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=45,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=135,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=225,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=270,strength=0),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=315,strength=0);
		 
}

#single_first_portion{
	width:100%;
	background-color:#fff;
	min-height:435px;

}


#single_product_essential_wrap{
width:805px;
padding:0px 0 0 15px;
float:left;
margin-top:-7px;
background-image:url(../images/bg_slider.png);
background-repeat:no-repeat;
background-position:0% 0%;

}

#single_product_essential{
	padding-left:40px;
	background-color:#fff;
}

.nav_menu {
	padding-top:20px;
	padding-bottom:25px;
	margin:0 auto;
	text-align:center;
	width:100%;
}
.nav_menu li{
	list-style:none;
	display:inline;
	padding:0 40px 0 0px;
}

.nav_menu li a{
	color:#000;
	font-size:14px;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	text-decoration:none;
}

#breadcrumb{
	padding-top:20px;
	padding-bottom:25px;
}

#breadcrumb ul li{
	list-style:none;
	display:inline;
	background-image:url(../images/breadcrumb_li.png);
	background-repeat:no-repeat;
	background-position:right 75%;
	padding:0 10px 0 0px;
}

#breadcrumb ul li.last{
	background-image:none;
}

#breadcrumb ul li.last a{
	color:#333333;
}

#breadcrumb ul li a{
	text-decoration:none;
	font-family:"Myriad_Pro_R";
	font-size:11px;
	color:#000;
	margin-right:5px;
	
}

#breadcrumb .category_name {
	font-family:"Century_Gothic";
	font-size: 38px;
	color:#000;
	
}

#single_product_image_wrap{
width:310px;
height:400px;
padding-top:10px;
padding-left:10px;
float:left;
border-color: #eee9e9;
border-width: 1px;
border-style: solid;
}

#single_product_image{
width:300px;
height:390px;
float:left;
text-align:center;

}

#single_product_image img{
	max-height: 100%;
	max-width: 100%;
}


#single_product_desciption{
	font-family:"Century_Gothic";
width:400px;
padding-right:20px;
float:left;
padding-left:15px;

}

#single_product_desciption h1{
    font-family: "AdelleBasic_B";
    font-size: 18px;
    font-weight: normal;
	padding-bottom:4px;
}

#single_product_detail{
	padding-right:20px;
}


#single_product_detail p, #single_product_desciption p{
    font-family:"Arial", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
	color:#333333;
	padding:10px 0 10px;
	line-height:1.5;
}

#single_product_detail h2, #single_product_desciption h2{
    font-family: "AdelleBasic_B";
    font-size: 14px;
    font-weight: normal;
	padding-bottom:4px;
}

.product_description_wrap{
	width: 670px;
	background-image:url(../images/product_detail_bg.png);
	background-repeat:repeat-y;

}

.color333333{
	font-family:"Century_Gothic";
	font-weight:bold;
	color:#333333;
}


.colorcc0000{
	font-family:"Century_Gothic";
	font-weight:bold;
	color:#cc0000;
}
.colorff9900{
	font-family:"Century_Gothic";
	font-weight:bold;
color:#ff9900;	
}

.color006699{
	font-family:"Century_Gothic";
	
color:#006699;	
}

.color000{
	font-family:"Century_Gothic";
	
color:#000;	
}

.colorcc0000{
color:#cc0000;	
}

#product_size, #product_color{
width:50%;
float:left;
margin:10px 0 20px 0px;
}

.addthis{
padding-top:10px;
}

.gap{
	padding-bottom:20px;
}

#we_recomd_wrap{
width:990px;
padding-bottom:20px;
border-top: 1px dashed #c2c2c2;
margin:0 auto;	
}

.recommend_product_wrap {
	width:100%;
	margin:0px auto;
	text-align: center;
}

.recommend_product_wrap a img{
	border-color: #eee9e9;
border-width: 1px;
border-style: solid;
	
}


#new_recomd{
width:990px;
height:305px;
padding-top:30px;

}


#recomed_product_wrap{
	margin-left:20px;

}

#new_recomd_top {
margin-left:20px;
}

.single_product_carousel_detail{
width:215px;
height:50px;
padding-bottom:10px;
padding-top:10px;
padding-left:10px;
}


.single_product_carousel_detail h2{
	font-size:14px;
	font-weight:normal;
	font-family: "AdelleBasic_B";
	color:#cc0000;
}

.single_product_carousel_detail h3{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:12px;
	
}
.single_product_carousel_detail p {
	font-family:"Century_Gothic";
	
}
#we_recomd_wrap div#new_recomd div#new_product_wrap div.flexiwrap{
	height:290px;
    width: 980px;
}




#new_recomd ul li{
float:left;
list-style:none;
width:50%;
}



.c_prev, .c_next{
float:left;
}


div#new_recomd div#new_product_wrap ul.pager{
display:none;
}


.strike{
	text-decoration:line-through;
	padding-right:3px;
}

html.dk_fouc body div#we_recomd_wrap div#new_recomd div#new_product_wrap div.flexiwrap ul.recomd li img{
border:1px solid #cccccc;
}

/* Login paage */
#login_container_wrap
{
	float: left;
	position: relative;
	left: 50%;
}
#login_container {
	float: left;
	position: relative;
	left: -50%;
	padding:10px;
	border:1px dotted #ccc;
	margin:10px auto;
}

#login_container td {
	padding-right:10px;
	padding-bottom:5px;
}

#login_form_links {
	padding-top:10px;
	text-align:center;
	font-size:11px;
}


#reg_customer #login_btn {
	float:left;
	width:70px;
	height:30px;
	margin-top:1px;
	margin-left:60px;
	background-image:url(../images/login.png);
	background-repeat:no-repeat;
	background-color:transparent;
	cursor:pointer;
	border:0px;
	text-indent:-999999px;
}

#register {
	width:80px;
	height:30px;
	margin-top:1px;
	background-image:url(../images/btn_click.png);
	background-repeat:no-repeat;
	background-color:transparent;
	cursor:pointer;
	border:0px;
}


/* Profile page (some shared elements) */
.form_wrap {
	clear:both;
	position:relative;
}

.form_wrap div {
	float:left;
	font-weight:bold;
	padding:10px;
}

#my_information {
	width:360px;
}

#my_information h2 {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}

#address_manager {
	/*float:right;*/
	width:95%;
	padding:7px;
	margin:50px auto 0px;
}

#address_manager h2{
	margin:3px 0px;
}

.my_account_address
{
	font-size: 12px;
	padding:10px 20px;
	background-color:#f2f2f2;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom:10px;
	border:1px solid #f2f2f2;
}

.my_account_address:hover {
	background-color:#eee;
	border:1px solid #ddd;
}

.address_toolbar {
	font-size:10px;
	float:right;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 4px 0 2px -1px #CCCCCC, -4px 0 2px -1px #CCCCCC;
	border-bottom: 1px dashed #C2C2C2;
    margin-top: -30px;
	min-height: 435px;
	padding: 15px;
    width: 969px;
}

/* View cart page, with shared elements */

.cart_table {
	width:100%;
}

.cart_table thead tr th {
	background-color:#ccc;
	color:#333;
	font-size:12px;
	text-align:left;
	padding:8px 10px;
}

.cart_table thead tr th:first-child, .cart_item td:first-child {
	/*-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
}

.cart_table thead tr th:last-child, .cart_item td:last-child {
	/*-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;*/
}

.cart_spacer td {
	height:0px;
	overflow:hidden;
}

.cart_item td {
	background-color:#f2f2f2;
	padding:5px 10px;
	color: #000000;
    font-family: "Arial",Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

.cart_table tfoot tr td {
	background-color:#ccc;
	padding:5px 10px;
	color:#333;
	font-size:12px;
	font-weight:bold;
}

.cart_table tfoot tr.cart_total td {
	background-color:#555;
	color:#f2f2f2;
	padding-top:10px;
	font-size:14px;
}

.tfoot_top td {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height:0px;
	padding:5px 0px 0px 0px;
}

.cart_table tfoot tr.tfoot_bottom td {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height:0px;
	padding:0px 0px 5px 0px;
	background-color:#555;
}

/* View Cart Page */
.view_cart_additions {
	margin-top:10px;
	border:1px dashed #ccc;
	background-color:#f2f2f2;
	text-align:center;
	font-size: 12px;
	padding:20px;
	float:left;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#gc_view_cart_buttons {
	float:right;
	clear:none;
	margin-top:10px;
}
/* Static Page Css */

#static_container {
    background-color: #FFFFFF;
    box-shadow: 4px 0 2px -1px #CCCCCC, -4px 0 2px -1px #CCCCCC;
    margin-top: -30px;
    width: 100%;
}

#static_first_portion {
    background-color: #FFFFFF;
    min-height: 435px;
    width: 100%;
}

#static_left {
	font-family:"Century_Gothic";
    float: left;
    padding-top: 35px;
    width: 180px;
	
}

#static_left h1 {
    border-bottom: 1px solid #D5D5D5;
    color: #3399CC;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 4px;
	padding-left:20px;
}

#static_left ul li {
    height: 17px;
    list-style: none outside none;
	padding-left:20px;
	padding-bottom:15px;
}

#static_left ul li a {
    color: #333333;
    font-family: "Arial",Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#static_wrap {
    background-image: url("../images/bg_slider.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    margin-top: -7px;
    padding: 0 0px 0 15px;
    width: 805px;
}

#static {
    background-color: #FFFFFF;
    padding-left: 40px;
	padding-top:40px;
	padding-bottom:20px;
	padding-right:5px;
	min-height:500px;
}
#static h1{
    color: #333333;
    font-family: "AdelleBasic_B";
    font-size: 18px;
    font-weight: normal;
	padding-bottom:30px;
}


#static p{
    color: #333333;
    font-family:"Arial", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
	padding-bottom:20px;
	line-height:1.7;
}

#about_clearance_social {
    height: 300px;
    margin: 0 auto;
    padding: 10px 15px 0;
    width: 960px;
}



/* Css of Page Login */

#login_wrap {
    float: left;
    width: 100%;
}


#login {
    background-color: #FFFFFF;
    padding: 40px 40px 20px 40px;
	
}


#login_customer{
	width:350px;
	height:255px;
	background-color:#f7f7f7;
	padding:20px 35px 0 45px;
	border:1px solid #e5e5e5;
	border-left:2px solid #d2d2d2;
	border-bottom:2px solid #d2d2d2;
	float:right;

}



#login_customer h1{
    color: #cc0000;
    font-family: "Century_Gothic";
    font-size: 18px;
    font-weight: bold;
	padding-bottom:18px;
}


#login_customer p{
    color: #333333;
    font-family: "Century_Gothic";
    font-size: 12px;
    font-weight: normal;
	padding-bottom:43px;
	line-height:1.7;
}



#reg_customer{
	width:350px;
	height:255px;
	background-color:#f7f7f7;
	padding:20px 35px 0 45px;
	border:1px solid #e5e5e5;
	border-left:2px solid #d2d2d2;
	border-bottom:2px solid #d2d2d2;
	float:left;
	margin-right:25px;
}

#reg_customer h1{
    color: #3333333;
    font-family: "Century_Gothic";
    font-size: 18px;
    font-weight: bold;
	padding-bottom:18px;
}

#reg_customer p{
    color: #333333;
    font-family: "Century_Gothic";
    font-size: 12px;
    font-weight: normal;
	padding-bottom:15px;
	line-height:1.7;
}

#reg_customer input{
width:254px;
height:33px;
margin-bottom:10px;
border:1px solid #b6b6b6;
border-radius:5px;
padding:0 5px 0 5px;
color:#787474;
}

#forgot_pas{
float:left;
text-align:center;
*padding:10px 0 0 60px;
}

#reg_customer a{
	 color: #006699;
    font-family: "Century_Gothic";
    font-size: 11px;
    font-weight: normal;
}


/* Css of Page Login */

#reg_wrap {
    background-image: url("../images/bg_slider.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    margin-top: -7px;
    padding: 0 0 0 15px;
    width: 805px;
}


#registration {
    background-color: #FFFFFF;
    padding: 40px 5px 20px 40px;
	
}

#errmsg {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: #E5E5E5 #E5E5E5 #D2D2D2 #D2D2D2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px 2px;
    float: left;
    width: 680px;
	padding-left:40px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:20px;
}

#errmsg .error {
	color:#FF0000;
	font-family: "Century_Gothic";
    font-size: 12px;
}

#my_information {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: #E5E5E5 #E5E5E5 #D2D2D2 #D2D2D2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px 2px;
    width: 925px;
	padding-left:40px;
	padding-top:20px;
	margin-bottom:20px;
	font-size:12px;
}

#my_information h1, #address_manager h1 {
	font-family: "Century_Gothic";
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 18px;
}

h2.title {
	font-family: "Century_Gothic";
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 18px;
}

.title14 {
	font-family: "Century_Gothic";
	font-size: 17px;
	padding-bottom: 20px;
	text-align: center;
}

#my_information .form_label{
float:left;
width:100px;
padding-right:20px;
text-align:right;
font-size:12px;
color:#333333;
font-weight:normal;
font-family: "Century_Gothic";
padding-top:8px;
}


#my_information .form_input input {
    border: 1px solid #B6B6B6;
    border-radius: 5px 5px 5px 5px;
    color: #787474;
    height: 33px;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 254px;
}


#reg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: #E5E5E5 #E5E5E5 #D2D2D2 #D2D2D2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px 2px;
    float: left;
    width: 680px;
	min-height:600px;
	padding-left:40px;
	padding-top:20px;
	margin-bottom:20px;
}

#reg h1 {
    font-family: "Century_Gothic";
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 18px;
}


.form_input input {
    border: 1px solid #B6B6B6;
    border-radius: 5px 5px 5px 5px;
    color: #787474;
    height: 33px;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 254px;
}




.form_birthday input {
    border: 1px solid #B6B6B6;
    border-radius: 5px 5px 5px 5px;
    color: #787474;
    height: 33px;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 54px;
}

.form_label{
float:left;
width:180px;
padding-right:20px;
text-align:right;
font-size:12px;
color:#333333;
font-weight:normal;
font-family: "Century_Gothic";
padding-top:8px;
}

.form_label_birth{
float:left;
width:180px;
padding-right:20px;
text-align:right;
font-size:12px;
color:#333333;
font-weight:normal;
font-family: "Century_Gothic";
}



.birth_col{
text-align:center;
width: 54px;
float:left;
margin-right:20px;
font-size:11px;
color:#333333;
font-weight:normal;
font-family: "Century_Gothic";
}

.form_input{
float:left;
}

.form_input select{
width: 210px;
}


#form_submit p{
font-size:12px;
color:#333333;
font-weight:normal;
font-family: "Century_Gothic";
margin-left:200px;
width:200px;
}



#form_submit input{
width:70px;
height:30px;
float:left;
margin-left:395px;
    background-image: url("../images/bg_registration.png");
    background-repeat: no-repeat;
	border:none;
	cursor:pointer;
	

}


#check_wrap {
    float: left;
    margin-top: -7px;
    padding: 0 0 0 21px;
    width: 985px;
}

#summary_section #check_wrap {
	padding: 0 0 0 5px;
}

#bg_check {
    background-color: #FFFFFF;
    padding: 40px 5px 20px 40px;
}


#check {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: #E5E5E5 #E5E5E5 #D2D2D2 #D2D2D2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px 2px;
    float: left;
	margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
	padding-right:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#check h1 {
    font-family: "Century_Gothic";
    font-size: 18px;
    font-weight: bold;
	padding-top:3px;
}
.check_top{
width:530px;
height:55px;
float:left;
}

.check_top_links{
width:385px;
float:left;
height:55px;
}



a.continue_shoping{
width:141px;
height:30px;
background-image: url("../images/continue_shoping.png");
background-repeat: no-repeat;
text-decoration:none;
float:left;
}


#check_heading_left{
width:530px;
float:left;
padding-bottom:10px;
}

#check_heading_right {
    float: left;
    width: 385px;
	padding-bottom:10px;
}

.check_heading_unit{
width:140px;
text-align:center;
float:left;
}


.check_heading_ttl{
width:85px;
text-align:left;
padding-left:15px;
float:left;
}

.check_heading_quantity{
width:90px;
text-align:center;
float:left;
}

.check_heading_quantity a, .check_heading_unit a, #check_heading_left a, .check_heading_ttl a {
text-decoration:none;
font-size:12px;
color:#333333;
font-weight:normal;
font-family:"Arial", Helvetica, sans-serif;
}

.check_border{
width:102%;
border-bottom:1px solid #0071b8;
margin-left:-1%;
}


.shoping_cart_container{
width:915px;
min-height:175px;
margin-botton:10px;
border-bottom:1px solid #cccccc;
}


.shoping_cart_container_pic{
width:110px;
padding-right:18px;
padding-top:10px;
float:left;
}

.shoping_cart_container_txt{
width:400px;
float:left;
padding-top:30px;
}

.shoping_cart_container_txt h2{
font-size:12px;
font-weight:normal;
font-family:"Arial", Helvetica, sans-serif;
padding-bottom:20px;
}

.shoping_cart_container_txt p{
font-size:11px;
color:#333333;
font-weight:normal;
font-family:"Arial", Helvetica, sans-serif;
}

.shoping_cart_container_unit{
float: left;
text-align: center;
width: 140px;
}

.shoping_cart_container_unit h2{
font-size:12px;
font-weight:bold;
font-family:"Arial", Helvetica, sans-serif;
padding-top:35px;
}

.shoping_cart_container_qty{
float: left;
text-align: center;
width: 90px;
height:100px;
background-image: url("../images/bg_qty.png");
background-repeat: no-repeat;
background-position:25px 25px;

}

.shoping_cart_container_qty h2{
font-size:12px;
font-weight:bold;
font-family:"Arial", Helvetica, sans-serif;
padding-top:35px;
}



.shoping_cart_container_ttl{
float: left;
text-align: left;
width: 85px;
padding-left:15px;


}

.shoping_cart_container_ttl h2{
font-size:12px;
font-weight:bold;
font-family:"Arial", Helvetica, sans-serif;
padding-top:35px;
}


.shoping_cart_container_del{
float: left;
text-align: left;
width: 20px;
padding-left:20px;
padding-top:35px;


}


#total_section{
float:right;
width:280px;
padding-right:50px;
}

.total_section_col{
float:left;
width:140px;
height:32px;
text-align:right;
font-size:14px;
font-weight:bold;
font-family:"Arial", Helvetica, sans-serif;
color:#000;

}

.check_bottom {
    float: left;
    height: 55px;
    width: 555px;
}

.product_box
{
	width:180px;
	padding:10px 0px;
	float:left;
	margin:5px;
	display:inline;
	text-align:center;
	height:300px;
	margin-bottom:20px;
}

.product_box .thumbnail
{
	height:250px;
}
.product_box .thumbnail, .product_box .thumbnail img {
	max-width:170px;
	max-height:220px;
	margin:auto;
}

/* Category Page */
.gc_product_list {
	width:100%;
}

.gc_product_row {
	text-align:left;
	width:100%;
}

.result_text {
	font-family:"Century_Gothic";
	font-size:12px;
	color:#555;
	margin-left:30px;
	margin-top:20px;
	float:left;
}

.product_name {
	margin:8px auto 0px;
	font-size:10px;	
	width:168px;
	text-align:left;
}

.product_name a {
	color: #333333;
    font-family: "Century_Gothic";
    font-size: 12px;
	text-decoration:none;
}

.product_sku {
	font-size:11px;
	font-family:verdana, arial, sans-serif;
	height:20px;
}

.price_container {
	text-align:left;
	padding:5px 5px;
	font-size:11px;
}

.price_slash {
	font-family: "Century_Gothic";
	text-decoration:line-through;
	font-size:11px;
}

.price_sale {
	font-family: "Century_Gothic";
	font-weight:bold;
	color:#ff0000;
	font-size:11px;
	display:block;
}

.price_reg {
	font-family:"Century_Gothic";
	font-weight:bold;
	font-size:11px;

}

.out_of_stock {
	color:#FF0000;
}

.error {
	background-color: #F5DCDC;
    border: 1px solid #D5A9A9;
    border-radius: 5px 5px 5px 5px;
    color: #C94F4F;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.message {
	color:#aaa;
	padding:5px 12px;
	background-color:#f2f2f2;
	border:1px solid #cccccc;
	margin-bottom:10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.checkout_block {
	background-color:#f2f2f2;
	padding:12px 16px;
	margin-bottom:20px;
	height:auto;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	position:relative;
}

#submit_order_button {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor:pointer;
	border:0px;padding:10px 15px; 
	font-size:16px;color:#FFF;
	background-color:#0091EF;
}

.submit {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	border:0px;padding:8px 15px; 
	font-size:14px;color:#FFF;
	background-color:#0091EF;
}

#shipping_address{
	float:left;
	/*width:47.5%;*/
	width:50%;
	font-size: 12px;
}

#billing_address{
	/*float:right;*/
	width:50%;
}

.wl_btn {
	font-family:"Century_Gothic";
	text-decoration:none;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/
.breadCrumbHolder
{
	padding-right:25px;
}

.breadCrumb
{
	margin: 30px auto 0;
	padding: 0;
	display: block;
	height: 21px;
	overflow: hidden;
	padding:5px;
	border:solid 1px #dedede;
	background:#fff;
}
.breadCrumb ul
{
	margin: 0;
	padding: 0;
	height: 21px;
	display: block;
}
.breadCrumb ul li
{
	display: block;
	float: left;
	position: relative;
	height: 21px;
	overflow: hidden;
	line-height: 21px;
	margin: 0px 6px 0px 0;
	padding: 0px 10px 0px 0;
	font-size: .9167em;
	background: url(../images/Chevron.gif) no-repeat 100% 0;
}
.breadCrumb ul li div.chevronOverlay
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.breadCrumb ul li span
{
	display: block;
	overflow: hidden;
}
.breadCrumb ul li a
{
	color: #0e82c7;
	display: block;
	position: relative;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
	float: left;
}
.breadCrumb ul li.first a
{
	height: 16px !important;
	text-indent:-1000em;
	width:16px;
	padding: 0;
	margin-top: 2px;
	overflow: hidden;
	background:url(../images/IconHome.gif) no-repeat 0 0;
}
.breadCrumb ul li.first a:hover
{
	background-position: 0 -16px;
}
.breadCrumb ul li.last
{
	background: none;
	margin-right: 0;
	padding-right: 0;
}
.chevronOverlay
{
	display: none;
	background: url(../images/ChevronOverlay.png) no-repeat 100% 0;
	width: 13px;
	height: 20px;
}

/*---------------------------------------
			Products CSS
---------------------------------------*/

.product_excerpt{
	font-family:"Century_Gothic";
	font-weight:bold;
	font-size:14px;
}

.product_section select option {
	font-family:"Century_Gothic";
	font-size:12
}

#gc_specification span{
	
	font-family:"Century_Gothic";
	color:green;
}

/*---------------------------------------
		Category New Arrival CSS
---------------------------------------*/

.category_new_arrival_wrap {
	
	margin-left:0px;
	margin-bottom:60px;
	height:1000px;
	
}

.category_new_arrival{
	width:790px;
	margin-left:175px;
	padding-top: 10px;
	height:1000px;
/*background-color:#3399cc;*/
}


#category_new_arival_top {
	margin-left:20px;
}

#category_new_arival_top p{
	font-size:18px;
	font-weight:normal;
	font-family: "Century_Gothic";
}

#category_new_product_wrap{
	margin-left:20px;
	overflow:hidden;
	height:1000px;
}

/*---------------------------------------
		Homepage Scrollable CSS
---------------------------------------*/

#scrollable-1 {
    position:relative;
    width:100%;
    height:300px;
    overflow:hidden;
  }
  #scrollable-1 li {
    float:left;
    margin-left:15px;
    list-style-type: none;
  }
  
  .switchable-triggers {
  	margin: auto;
  	text-align: right;
  	padding-bottom: 10px;
  	margin:0px 10px;
  }
  .switchable-triggers li {
    *display:inline-block;
    display: inline;
    *zoom: 1;
    margin:0 5px;
    color:#c6c6c6;
    font-family:"Century Gothic";
    font-size:16px;
    *text-shadow:0 2px 1px rgba(0, 0, 0, .4);
    cursor:pointer;
    
  }
  .switchable-triggers li.current { 
  	*color:#8ab516;
  	color:#ff0000;
  }
  
  .categories_new_arrival_product {
  	position:relative;
  	width:182px;
  	height:237px;
  }
  
#bottom_block {
	position: absolute;
	width:182px;
	height:50px;
	z-index:2;
	top:187px;
  	background-image:url(../images/product_transparent_block.png);
  	
  }
  
  #bottom_block p{
  	margin:auto 5px;
  }
  
  #new_arrv_product_name {
  	width:60%;
  	height:50px;
  	position:absolute;
  	text-align: left;
  	font-family: "Century_Gothic";
  	color:white;
  	font-size: 12px;
  	overflow: hidden;
  }
  
  #new_arrv_product_price {
  	width:40%;
  	position:absolute;
  	text-align:center;
  	padding-left:60%;
  	font-family: "Century_Gothic";
  	color:white;
  	font-size: 17px;
  
  }
  
/*---------------------------------------
		Product Description CSS
---------------------------------------*/

.product_specification_bullet li{
	
	font-family: "Myriad_Pro_R";
	font-size: 13px;
	
}

.product_specification_table tr {
	
	height:30px;
}

.product_specification_table td{
	
	font-family: "Myriad_Pro_R";
	font-size: 13px;
	padding-left: 10px;
}

/*---------------------------------------
		Credit Card Payment CSS
---------------------------------------*/

.credit_payment {
	
	width:400px;
	margin:auto;
}

.credit_dl dt {
	
	float:left;
	width:50%;
}

.credit_dl dd {
	
	float:left;
	width:50%;
	
}