@charset "utf-8";
/* CSS Document */

#top_items_n_check_out ul li a {
	font-size:12px;
}
#reg_now{
font-size:13px;
}

#search{
margin-right:-6px;
}

#top_items_n_check_out ul{
float:right;
padding:2px 10px 0 0;
}

#top_items_n_check_out ul li {
	display:inline;
	padding-left:3px;
	padding-right:5px;
}

#portion{
margin-top:-33px;
}


#first_postion{
margin:-35px 0 0 -5px;

}

.promotion_wrapr_last, .promotion_wrapr, .promotion_wrapr_spcl{
	padding-left:2px;
}



#banner{
margin-left:3px;
}

#new_arrival_wap{
margin-left:-22px;
}




.actual{
margin:0px 0 0 30px;
padding-top:5px;
}

.ctrl{
	margin-top:5px;
}

.price_tag{
	height:21px;
	padding-top:5px;

}



#single_container, #index_container,#cat_container  {
    margin-top: -33px;
	margin-left:-2px;
}

#we_recomd_wrap {
margin-top:-2px;
}
