@font-face {
    font-family: "AdelleBasic_B";
    font-style:normal;
    font-weight:lighter;
	src:url("../AdelleBasic_Bold.otf");
    
}

@font-face {
    font-family: "Century_Gothic";
    font-style:normal;
    font-weight:lighter;
	src:url("../century_gothic.ttf");
    
}

@font-face {
    font-family: "Myriad_Pro_R";
    font-style:normal;
    font-weight:lighter;
	src:url("../myriad_pro_reg.otf");
	
}

#nav h6{
	font-size:14px;
	color:#ffcc33;
	font-weight:bold;
	font-family: "Century_Gothic";
}

.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;padding-bottom:20px;}

.grey {font: Century_Gothic; line-height: 16px; padding-left:10px;}


.grey ul.mega-menu, .grey ul.mega-menu, .grey ul.mega-menu li {margin: 0; padding: 0; border: none;}
.grey ul.mega-menu {background: #transparent; width: 100%; height: 40px;  position: relative;}
.grey ul.mega-menu li { 
list-style:none;
float: left; 
margin: 0; 
padding: 0; 
font-weight:lighter;
	font-size:14px;
	color:#333333;
	font-weight:normal;
	font-family: "Century_Gothic";
	
}



.grey ul.mega-menu li a {float: left; display: block; color: #fff; padding: 12px 25px 12px 15px;  text-decoration: none;text-transform:uppercase;}

.grey ul.mega-menu li a.dc-mega {position: relative;}
.grey ul.mega-menu li a .dc-mega-icon {display: block; position: absolute; top: 30px; right:70%; width: 8px; height: 10px; width:13px;
 background: url(images/menu_top_arow.png) no-repeat 0 0; z-index:100;}
 
 
 
.grey ul.mega-menu li.mega-hover a, .grey ul.mega-menu li a:hover {background-position: 100% -40px; color: #fff; text-shadow: none;}
.grey ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.grey ul.mega-menu li .sub-container {position: absolute; background: url(images/bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}

.grey ul.mega-menu li .sub { background: url(images/bg_sub.png) no-repeat; background-position:100% 100%; padding: 20px 20px 20px 10px;}

.grey ul.mega-menu li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
.grey ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}

.grey ul.mega-menu li .sub li {list-style: none; float: none;  width: 150px; font-size: 1em; font-weight: normal;}





.grey ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.grey ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}

.grey ul.mega-menu li .sub a { font-family:Century_Gothic; background: none; border: none; text-shadow: none; color: #fff; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 12px;}

/* Dropdown First SubCategory */
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 0px; margin-bottom: 5px; text-transform: uppercase; font-weight: bold; color: #fff;}
.grey ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #000; text-shadow: none;}
/* Dropdown Second SubCategory */
.grey ul.mega-menu .sub li.mega-hdr li a {padding: 2px 5px 2px 0px;/* background: url(images/arrow_off.png) no-repeat 5px 8px; */font-weight: normal; color:}
.grey ul.mega-menu .sub li.mega-hdr li a:hover {color: #333333;font-weight:bold; /*background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;*/}


.grey ul.mega-menu .sub ul li {padding-right: 0;}
.grey ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.grey ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.grey ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; /*background: url(images/arrow_off.png) no-repeat 7px 10px;*/}
.grey ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; /*background: #efefef url(images/arrow_on.png) no-repeat 7px 10px;*/}

div.sub-container ul.sub div.row li.promo{
}